.App {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
}

.App-logo {
  max-width:350px;
  pointer-events: none;
  display:block;
  margin-bottom: 30px;
}

.App-header {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-footer{
  text-align: center;
  margin: 30px 0;
  color:white
}


.App-link {
  color: #07b4e4;
}

