.Phonetic{
    height:60x;
    margin-bottom: 10px;
}

.Phonetic a{
    border:1px solid #ddd;
    text-decoration:none;
    padding:10px 20px;
    border-radius:20px;
    color:rgb(64, 184, 224);
    transition:all 150ms ease-in-out;
    margin-right: 10px;
}

.Phonetic a:hover{
    background:rgb(64, 184, 224);
    color:white;
}

.Phonetic .text{
 opacity:0.7;
 font-weight: bold;
}